
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index do superadmin</h1>
<h1>Index do superadmin</h1>
<h1>Index do superadmin</h1>
<h1>Index do superadmin</h1>
<h1>Index do User</h1>
<h1>Index do User</h1>
<h1>Index do User</h1>

