
@{
    ViewBag.Title = "CadastrarConsultaEspecialidade";
    Layout = "~/Views/Shared/_LayoutPacientes.cshtml";
}

@model roles.Models.ConsultaModel

<div class="container">
    <div class="cabecalho">
        <div class="row justify-content-center">
            <h1 class="">Selecione uma data</h1>
        </div>

        <div class="row justify-content-center">
            @Html.LabelFor(model => model.Medico.Especialidade) <br />
        </div>
        <div class="row justify-content-center">
            @Html.DropDownListFor(model => model.IdEspecialidade, ViewBag.Especialidades as SelectList, new { @Id = "especialidades", @class = "form-control col-md-5" })<br /><br />
 <br /><br />
        </div>
        <br />
        <div class="row justify-content-center">
            <input type="button" value="Buscar Médicos" class="btn btn-success justify-content-center" id="btnBuscarMedicosEspecialidade" />

        </div>

    </div>

</div>
<div id="janelaCadastraConsultaEspecialidade" class="modal fade">
    <div class="modal-dialog" id="modalDialogCadastrarConsultaEspecialidade">
    </div>
</div>
